[core]
	excludesfile = /Users/spencerelliott/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[user]
	name = Spencer Elliott
	email = me@elliottsj.com
[mergetool "Kaleidoscope"]
[merge]
[difftool "Kaleidoscope"]
[difftool]
[mergetool]
[diff]
	tool = Kaleidoscope
[push]
	default = simple
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[color]
	ui = 1
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
