[include]
	path = .gitconfig_common
[user]
	name = Spencer Elliott
	email = spencer@cohere.com
[core]
	excludesfile = /Users/spencerelliott/.gitignore_global
[pull]
	ff = only
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
